/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	src: url(Ubuntu-Regular.ttf);
}

body, body.visible,table td,select,.gwt-Button {
	font-family: Ubuntu, Tahoma, Geneva, sans-serif !important;
}

body {
	
	background-color: #3D3D3D !important;	
	
}

.gwt-Button {
	
	background-color: #3D3D3D;
}

body.embedded {
	background:transparent !important;	
}

.gwt-Button {
	font-size: 14px !important;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.gwt-ToggleButton:focus {
	outline: none;
	-moz-outline-style: none;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

.selectorTitle {
	font-weight: 400;
	font-family: Ubuntu, Tahoma, Geneva, sans-serif;
	color: #777;
	font-size: 25px;
}

body,body.visible {
	font-family: Ubuntu, Verdana, Helvetia, Arial, sans-serif;
	
}

.wrap {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #E9EAEE;
	border-color: #E9EAEE;
	width: 750px;
	padding: 20px;
	margin: auto;
	margin-top: 100px;
}

#infoText {
	font-family: Ubuntu, Tahoma, Geneva, sans-serif;
	font-size: 20px;
}

#game {
	
	border: solid #333 1px;
	width: 750px;
	position: relative;
	background-color: white;
}

.embedded #game {

	background: transparent;
}

#exercise {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: solid #AAA 2px;
	
	padding: 5px 20px;
}

#chat {
	border: solid #333 1px;
	position: relative;
	width: 750px;
	background-color: white;
}

#chatwrap {
	visibility: hidden;
	margin-top: 10px !important;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.playerList {
	font-family: Ubuntu, Tahoma, Geneva, sans-serif;
	font-size: 20px;
	margin: 20px;
}

div.gametype {
	cursor: pointer;
	background-color: " + bgcolor + ";
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid black 1px;
	margin: 10px;
	padding: 10px;
	width: 140px;
	height: 160px; background- #CCC;
	float: left;
	padding-top: 0px;
	color: #555;
}

div.gametype:hover {
	margin: 9px;
	border: solid black 2px;
}

div.gametype:hover div {
	color: black;
}

div.gametype img {
	margin-left: 5px;
	margin-top: 10px;
}

div.gametype div {
	width: 100%;
	margin-top: 3px;
	text-align: center;
	font-size: 15px;
	font-weight: bold '
}

.gametypeselector {
	margin: 10px;
	height: 425px;
}

body .gametypeselector {
	background-image: url(wicam_f.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.gametypeselector .selectorTitle {
	margin: 10px;
}

.backButton {
	position: absolute;
	bottom: 20px;
	right: 30px;
}

div.highscore-entry .highscore_pos {
	display: block;
	float: left;
	width: 20px;
	text-align: right;
	color: #777;
	padding-right: 14px;
	font-weight: bold;
}

div.highscore {
	margin-left: 150px;
	margin-top: 20px;
}

div.highscore-wrap {
	padding: 20px;
}

div.highscore-entry .highscore_name {
	display: block;
	float: left;
	width: 200px;
	text-align: left;
}

div.highscore-entry {
	margin-left: 15px;
	margin-top: 9px;
	font-size: 21px;
}

.chatwindow {
	background-color: white;
	border: solid black 1px;
}

body.hidden div,body.hidden img {
	display: none;
}

/** Mobile stuff */
body.mobile #unilogo {
	display: none;
}

body.mobile {
	
	background-color:white !important;
}

body.visible, body.hidden {
	

}

body.mobile #chatwrap {
	
}

body.mobile #game {
	
	border-color:white;	
	
}

body.mobile .wrap {
	margin: 0px;
	margin-top:0px;
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: white;
	border-color: white;
}

body.visible #loading, body.visible #loading #msg {
	display: none;
}

body.hidden #loading {
	display: block;
	position: absolute;
	width: 100%;
	height: 40px;
	text-align: center;
	color: white;
	font-size: 20px;
	top: 45%;
	left: 0px;
	line-height: 60px;
}

body.hidden #loading #msg {
	display: inline;
	background-image: url(loading.gif);
	background-repeat: no-repeat;
	padding-left: 50px;
	padding-bottom: 30px;
	padding-top: 3px;
}

img.vowel_img {
	border: solid white 2px;
	padding: 10px;
}

img.vowel_img:hover {
	border: solid #DDD 2px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.homebutton {

position:absolute;
right:30px;
bottom:30px;
height:60px;
width:60px;
background-image:url(home.png) !important;
background-repeat:no-repeat !important;
background-position:center !important;
background-color:#EEE !important;

}

.homebutton:hover {
background-color:#F6F6F6 !important;

}

.embedded .wrap {
	
	border:none;
	border-radius:0px;
	border-width:0px;
	padding:0px;
	background:transparent;
	width:auto;
	margin:0px;
	}
	
.embedded .pinger {
	display:none;
	
}
