<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>GameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.GameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChatCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.chat.ChatCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NumberLineGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.NumberLineGame.NumberLineGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoppelungGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.VowelGame.DoppelungGame.DoppelungGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FactsGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.factsGame.FactsGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MathDiagnosticsCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.MathDiagnostics.MathDiagnosticsCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DehnungGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.VowelGame.DehnungGame.DehnungGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultiplicationGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.Multiplication.MultiplicationGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultiplicationInverseGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.MultiplicationInverse.MultiplicationInverseGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuddyNumberGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.BuddyNumber.BuddyNumberGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WordStemGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.WordStem.WordStemGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OverTenGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.OverTen.OverTenGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WordFamilyGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.WordFamily.WordFamilyGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LetrisGameCommunicationServiceServlet</servlet-name>
    <servlet-class>com.wicam.numberlineweb.server.Letris.LetrisGameCommunicationServiceServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>remoteLoggingServiceImpl</servlet-name>
	<servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/gameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NumberLineGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/numberLineGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChatCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/chatCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoppelungGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/doppelungGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FactsGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/factsGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MathDiagnosticsCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/mathDiagnosticsCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DehnungGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/dehnungGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultiplicationGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/multiplicationGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultiplicationInverseGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/multiplicationInverseGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuddyNumberGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/buddyNumberGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WordStemGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/wordStemGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OverTenGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/overTenGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WordFamilyGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/wordFamilyGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LetrisGameCommunicationServiceServlet</servlet-name>
    <url-pattern>/numberlineweb/letrisGameCommunication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>remoteLoggingServiceImpl</servlet-name>
	<url-pattern>/numberlineweb/logging</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>NumberLineWeb.html</welcome-file>
  </welcome-file-list>

</web-app>
